@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.div-cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  padding: 3% 0 0;
  margin: auto;
}

.div-form{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: rgb(240, 238, 238);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Prompt", sans-serif;
  font-style: normal;
  outline: 0;
  background: #1b9e2c;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-weight: 700;
  cursor: pointer;
  transition: 1.5s;
}
.form button:hover,.form button:active,.form button:focus {
  background: #126e1e;
  font-weight: 700;
  transition: 1.5s;
}

h2{
  font-family: "Prompt", sans-serif;
  font-style: normal;
  color:rgb(0, 0, 0);
  text-transform:uppercase;
  font-weight: 900;
}


.div-tabela {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.div-tabela table {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-collapse: collapse;
  background: rgb(212, 212, 212);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.24);
  
}
.div-tabela table th{
  padding: 10px;
  background-color: #1b9e2c;
  color:white;
  text-transform:uppercase;
  padding: 15px;
}
.div-tabela table tr{
  background-color:white;
  text-align: center;
  padding: 10px;
}
.div-tabela table tr:hover{
  padding: 10px;
  background-color: rgb(224, 224, 224);
}
.div-tabela table td{
  padding: 10px;
  cursor: pointer;
}

.div-tabela button{
    appearance: none;
    background-color: #1b9e2c;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-weight: 800;
    line-height: 25px;
    padding: 6px 16px;
}

body {
  background-image: linear-gradient(rgb(219, 219, 219), rgb(255, 255, 255));
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}



